.main-display{
    width: 100vw;
    height: 100vh;
    background-color:#e7dfd8 ;
    display: flex;
    justify-content: space-between;
}
.main-right{
    width: 50%;
    border: 15px solid #03989e;
    background-image: url("../../public/landingimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-left h1 {
    color: #03989e;
    font-family: 'Livvic', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 500;
}

.main-left h1:last-of-type{
    margin-bottom: 25px;
}

.text-wrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin-top: -60px;
}

.tagline-text{
    font-family:'B612', sans-serif;
    text-align: center;
    font-size: 20px;
}

.logo-bar{
    width: 100%;
    display: flex;
}

.logo-bar img{
    height: 120px;
    margin-top: 40px;
}

.home-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
}

.home-buttons button{
    font-family:'B612', sans-serif;
    border: 1px black solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
    min-width: 150px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
}
.home-buttons button:hover{
    background-color: rgba(255, 255, 255, 0.505);
    transition: 0.3s;
}

.home-buttons button:first-of-type {
    margin-right: 20px;
}