.dash-nav-main{
    width: 200px;
    height: 100%;
    background-color: #03989e;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.dash-icon {
    color:#6ce5e8;
    font-size: 60px;
    cursor: pointer;
}
.user-dash-greeting {
    color: white;
    font-family:'DM Sans', sans-serif;
}