.container {
    height: 28px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.561);
    border-radius: 100px;
    margin: 50;
  }
  .nbar {
    height: 100%;
    background-color: #6ce5e8;
    border-radius: inherit;
  }  

  
  .label {
    padding: 1rem;
    color: #000000;
  }
  