.profile-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-height: 100vh;
  overflow: hidden;

}

.profile-main {
  width: 100%;
  background-color: #e7dfd8;
}

.profile-title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.profile-title h1 {
  font-family: "Livvic", sans-serif;
  text-align: center;
  color: #03989e;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  margin-top: 60px;
}
.profile-info{
  display: flex;
  height: 100%;
  width: 100%;
}
.user-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.points-bars{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-right: 50px;
}

.user-photo {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.user-details {
  width: 100%;
  height: 35%;
  background-color: #03999ee1;
  border-radius: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  min-width: 300px;
  max-width: 700px;
}

.details-list {
  padding: 100px;
}

.reminder-type-blocks {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
}

.reminder-type-blocks h2 {
  font-family: "Livvic", sans-serif;
  text-align: center;
  color: #03989e;
  font-size: 25px;
  font-weight: 500;
  margin-top: 5%;
}

.reminder-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
}

.reminder-cards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.reminder-cards > div > img {
  height: 150px;
}

.reminder-cards > div > h5 {
  font-family: "Livvic", sans-serif;
  text-align: center;
  color: #03989e;
  font-weight: 500;
  font-size: 20px;
}

.reminder-cards > div > span {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

#reminder-physical {
  height: 230px;
  width: 180px;
  border-radius: 10px;
  background-color: rgb(254, 186, 59);
  margin: 8px;
}

#reminder-self-care {
  height: 230px;
  width: 180px;
  border-radius: 10px;
  background-color: rgb(238, 238, 132);
  margin: 8px;
}

#reminder-nutrition {
  height: 230px;
  width: 180px;
  border-radius: 10px;
  background-color: rgb(198, 243, 130);
  margin: 8px;
}

.solid {
  opacity: 1;
}

.transparent {
  opacity: 0.25;
}

