.rewards-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    max-height:100vh;
    overflow:hidden;
}

.rewards-main{
    width: 100%;
    background-color: #e7dfd8;
    
}

.rewards-title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rewards-title h1 {
    font-family: 'Livvic', sans-serif;
    text-align: center;
    color: #03989e;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    margin-top: 60px;
}

.rewards-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.progress-bars{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 35px;
    margin-top: 50px;
}
.physical-progress{
    display: flex;
    flex: 1;
    margin-right: 50px;
}

.progress-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.progress-info > h2{
    padding-bottom: 30px;
    font-family: 'DM Sans', sans-serif;
    color: black;
    font-size: 20px;
    }

 .progress-info > h4{
        padding-top: 20px;
        font-family: 'DM Sans', sans-serif;
        color: orange;
        font-weight: 500;
        font-size: 20px;
        }

.progress-info > h5{
padding-top: 40px;
font-family: 'DM Sans', sans-serif;
color:black;
font-size: 15px;
}

.nutritional-progress{
    display: flex;
    flex: 1;
    margin-right: 50px;
}

.self-care-progress{
    display: flex;
    flex: 1;

}

.partners{
    width: 100%;
    height: 45%;
    display: flex;
    flex: 1;
}

.partners h5 {
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 200px;
}

.partner-circles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 325px;
}

.partner-circles-text{
    display: flex;
    flex: 1;

}

.partner-images{
    display: flex;
    flex: 1;
    margin-top: -350px;
    margin-left: 200px;
    justify-content: center;
}

.partner-logo{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 5px;
}